.divPersona{
    background-color: rgb(190, 181, 170);
    width: 50%;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25%;
    top: 25%;
    box-shadow: 10px, 10px, 10px, 0px rgb(218, 202, 202); 
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Input */
input[type="text"]{
    width: 100%;
    margin: 8px;
    border-radius: 4px;
    padding: 12px 20px;
    box-sizing: border-box;
}
input[type="date"]{
    width: 100%;
    margin: 8px;
    border-radius: 4px;
    padding: 12px 20px;
    box-sizing: border-box;
}
input[type=button] {  
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    width: 25%;
  }

 /* Clases */ 
.errValidation{
    border-color: red;
}

.filaImpar{
    background-color: rgb(211, 203, 203);
}

/* Botones */
.equis{
    position: relative;
}   

#botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

#btnDelete{
    background-color:rgb(180, 41, 41);
}

#end{
    background-color:rgb(180, 41, 41);
    border-radius: 4px;
    width: 5vh;
    height: 6vh;
    margin: 3px 3px 3px 3px;
    padding: 2px 2px 2px 2px;
    font-size: 25px;
}

/* Imagen */
.spinner{
    display: flex;
    align-items: center;
    justify-content: center; 
    opacity: 0.5;
}
.hide-child{
    display: none;
}

/* Tabla */
table{
    position: absolute;
    top: 5%;
    width: 100%;
    border-collapse: collapse;
    }

thead{
    background-color: darkcyan;
    color: white;
    font-size: 20px;
}
    
td, th{
    padding: 5px 0px;
    font-size: 20px;
    text-align: left;
}